html {
    background: white;
}

body {
    background-color: #f8f8f8 !important;
    min-height: 95vh;
}

.navbar-default {
    z-index: 1000;
    position: fixed !important;
    top: 0;
    width: 100%;
    border-bottom: 3px solid #e7e7e7 !important;
}

.navbar-brand>img {
    height: 50px;
}

.nav>li {
    height: 75px;
}

.nav>li>a {
    padding: 50px;
}

.navbar-nav>li>a {
    line-height: 45px !important;
    vertical-align: middle;
}

#content {
    background-color: white;
    border-bottom: 2px solid #e7e7e7;
}

.container {
    margin-top: 70px;
    min-height: 80vh;
}

table tr {
    height: 40px;
    vertical-align: middle;
}

.info-table {
    border: 1px solid #7c7c7c;
    width: 100%;
}

.scrollable-table{
    margin-top: 30px;
}

.info-table th {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.info-table td {
    text-align: center;
    padding: 5px;
}

 .payment-icon {
     height: 20px;
 }

 .cash-icon {
    height: 30px;
 }

/* Pagina anagrafica */
.errorlist {
    padding: 0;
    padding-top: 10px;
    list-style: none;
    color: red;
}

.scrollable-table {
    overflow: auto;
    max-height: 242px;
}

#client-table, #processings-table {
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
}

#client-table, #renew-table, #events-table, #processings-table td:hover {
    cursor: pointer;
}

#client-form {
    margin-top: 20px;
}

#client-form > table {
    margin-bottom: 20px;
}

/* Pagina lavorazioni */
#processings-form {
    margin-top: 30px;
}

/* Pagina eventi */
#events-form {
    margin-top: 30px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: lightgreen;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white;
}

/* Tabella iscrizioni */
#subscriptions-table > tbody > tr > td > a {
    color: black;
    font-weight: 400;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#subscriptions-table > tbody > tr > td > a:hover {
    text-decoration: none;
}

footer {
    padding: 40px;
    clear: both;
    width: 100%;
    color: #555;
    background: transparent;
}

@media screen and (max-width: 767px) {
    .navbar-brand>img {
        margin-top: -10px;
        height: 40px;
    }

    .nav>li {
        height: 40px;
    }

    .nav>li>a {
        padding: 0;
    }

    .navbar-nav>li>a {
        line-height: 20px !important;
        vertical-align: middle;
    }

    .container {
        min-height: 70vh;
    }
}