{% extends "base.html" %}
{% load static %}
{% block title %} <title>FabLab | Anagrafica </title>{% endblock %}
{% block pagename %} <img class="logo" src="{% static 'gestionaleapp/logo_fablab.png' %}"> {% endblock %}
{% block scripts%}
    <script>
        $(document).ready(function(){
            $("tr").click(function(event){
                var client_card = document.getElementsByClassName(event.target.className);
                var prova = document.getElementsByName("surname");
                prova[0].value = "try";
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="cl-div-tb">
        <table class="table-bordered table-striped cl-tb">
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Tessera</th>
                <th>Mail</th>
                <th>Cellulare</th>
            </tr>
        {% for client in clients %}
            <tr>
                <td class="{{client.id}}">{{client.surname}}</td>
                <td class="{{client.id}}">{{client.name}}</td>
                <td class="{{client.id}}">{{client.card}}</td>
                <td class="{{client.id}}">{{client.email}}</td>
                <td class="{{client.id}}">{{client.telephone}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <form method="post" action="">
        <div class="actions-div">
            <button type="button" class="btn btn-success btn-block">Salva nuovo</button>
            <button type="button" class="btn btn-danger btn-block">Reset campi</button>
            <button type="button" class="btn btn-primary btn-block">Salva modifiche</button>
        </div>
        <table class="insert-table">
            <tr>
                <td>Cognome: </td>
                <td><input class="form-control" type="text" name="surname" maxlength="32"></td>
                <td></td>
                <td>Tessera:</td>
                <td><input class="form-control" type="text" name="card" maxlength="32"></td>
            </tr>
            <tr>
                <td>Nome:</td>
                <td><input class="form-control" type="text" name="name"></td>
            </tr>
            <tr>
                <td>Nato:</td>
                <td><input class="form-control" type="date"></td>
            </tr>
            <tr>
                <td>C.A.P:</td>
                <td><input class="form-control" type="text" name="cap"></td>
            </tr>
            <tr>
                <td>Cellulare:</td>
                <td><input class="form-control" type="text" name="telephone" maxlength="15"></td>
            </tr>
            <tr>
                <td>Mail:</td>
                <td><input class="form-control" type="text" name="mail" maxlength="254">
            </tr>
        </table>

    </form>
{% endblock%}
