{% extends "base.html" %}
{% load static %}
{% block title %} <title>FabLab | Anagrafica </title>{% endblock %}
{% block pagename %} <img class="logo" src="{% static 'gestionaleapp/logo_fablab.png' %}"> {% endblock %}
{% block scripts%}
    <script>
        $(document).ready(function(){
        	var inputs = ["id_name", "id_surname", "id_born", "id_cap", "id_telephone", "id_card", "id_first_association"];

            $("#id_born").datepicker({
                dateFormat: "dd-mm-yy"
            });
            $("#id_first_association").datepicker({
                dateFormat: "dd-mm-yy"
            });
            $("#base_date").datepicker({
                dateFormat: "dd-mm-yy"
            });
            $("#ymaker_date").datepicker({
                dateFormat: "dd-mm-yy"
            });
            $("#maker_date").datepicker({
                dateFormat: "dd-mm-yy"
            });

            $(inputs).each( function(index, element) {
            	$("#" + element).parent().prepend("<div id='" + element + "_empty' class='emptylist'>Questo campo è obbligatorio</div>");

                if (element !== "id_born" && element !== "id_first_association") {
                	$("#" + element).blur ( function () {
                		checkInput("#"+element);
                	})
                }
            });

            $('.errorlist').each( function (index, element) {
                $(element).replaceWith("<div class='errorlist'>" + $(element).children().text() + "</div>");
            });


            $("button[name = 'reset-button']").click(function(event) {
                $("input[name = 'modify_id']").val('no');
                var form = $("#client-form")[0];
                // clear the form fields
                var inputs = form.getElementsByClassName('form-control');
                for (var i=0; i < inputs.length; i++) {
                    inputs[i].setAttribute("value", "");
                }

                // remove all errors in the page
                $('.errorlist').each( function (i, element) {
                    $(element).slideUp();
                })

                $('.emptylist').each( function (i, element) {
                    $(element).slideUp();
                })
            });

            $("button[name = 'save-new-button']").click(function(event) {
                ret = true;
                $(inputs).each( function(index, element) {
                    ret = ret & checkInput("#" + element)
                });

                if (ret) {
                    $("input[name = 'modify_id']").val('no');
                    $("#client-form")[0].submit();
                } else {
                }
            });

            $(".tr-selectable").click(function(event){
                var client_id = event.target.className;

                $.get("{% url 'gestionale:get_client_data' %}?id="+client_id, function(data, status){
                    var input_labels = $(".cl-info-input");
                    console.log(data);

                    for (var i = 0; i < input_labels.length; i++) {
                        var current_data = input_labels[i].getAttribute("name");
                        input_labels[i].value = data[current_data];
                    }
                    $("input[name = 'modify_id']").val(client_id);
                });

                // remove all errors in the page
                $('.errorlist').each( function (i, element) {
                    $(element).slideUp();
                })

                $('.emptylist').each( function (i, element) {
                    $(element).slideUp();
                })
            });
        });

        function checkInput(input) {
            if ($(input).val() === "") {
                $(input+"_empty").slideDown(200);
                return false;
            } else {
                $(input+"_empty").slideUp(200);
                return true;
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="cl-div-tb">
            <table class="table-bordered table-striped cl-tb">
                <tr>
                    <th>Cognome</th>
                    <th>Nome</th>
                    <th>Tessera</th>
                    <th>Mail</th>
                    <th>Cellulare</th>
                </tr>
            {% for client in clients %}
                <tr class="tr-selectable">
                    <td class="{{client.id}}">{{client.surname}}</td>
                    <td class="{{client.id}}">{{client.name}}</td>
                    <td class="{{client.id}}">{{client.card}}</td>
                    <td class="{{client.id}}">{{client.email}}</td>
                    <td class="{{client.id}}">{{client.telephone}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <form id="client-form" method="post" action="">
            {% csrf_token %}
            {{ form.modify_id }}
            <table class="col-sm-8">
                {{ form.as_table }}
            </table>
            <div class="actions-div col-sm-4">
                <button type="button" class="btn btn-success btn-block" name="save-new-button">Salva nuovo</button>
                <button type="reset" class="btn btn-danger btn-block" name="reset-button">Reset campi</button>
                <button type="submit" class="btn btn-primary btn-block" name="save-changes-button">Salva modifiche</button>
            </div>

        </form>
    </div>

    <hr>

    <div class="row">
        <table class="table-bordered table-striped cl-tb">
            <tr>
                <th>2018</th>
                <th>2017</th>
                <th>2016</th>
            </tr>
            <tr>
                <td data-toggle="modal" data-target="#renew-modal">prova</td>
                <td data-toggle="modal" data-target="#renew-modal">prova</td>
                <td data-toggle="modal" data-target="#renew-modal">prova</td>
            </tr>
            <tr>
                <th>2018</th>
                <th>2017</th>
                <th>2016</th>
            </tr>
            <tr>
                <td data-toggle="modal" data-target="#renew-modal">prova</td>
                <td data-toggle="modal" data-target="#renew-modal">prova</td>
                <td data-toggle="modal" data-target="#renew-modal">prova</td>
            </tr>
            <tr>
                <th>2018</th>
                <th>2017</th>
                <th>2016</th>
            </tr>
            <tr>
                <td data-toggle="modal" data-target="#renew-modal">prova</td>
                <td data-toggle="modal" data-target="#renew-modal">prova</td>
                <td data-toggle="modal" data-target="#renew-modal">prova</td>
            </tr>

        </table>

        <!-- Modal -->
        <div class="modal fade" id="renew-modal" role="dialog">
            <div class="modal-dialog modal-lg">
            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Rinnovo Tessera</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="renew-form">
                            <table class="cl-tb" style="overflow: scroll;">
                                <tr>
                                    <th>Quota</th>
                                    <th>Anno</th>
                                    <th>Occasione</th>
                                    <th>Pagamento</th>
                                </tr>
                                <tr>
                                    <th>BASE</th>
                                    <td><input id="base_date" class="form-control" type="text"></td>
                                    <td>
                                        <select class="form-control">
                                            <option value="0" selected>-</option>
                                            <option value="1">Occasione 1</option>
                                            <option value="2">Occasione 1</option>
                                            <option value="3">Occasione 1</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option value="-" selected>-</option>
                                            <option value="c">Contanti</option>
                                            <option value="b">Bonifico</option>
                                            <option value="p">Paypal</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Y.MAKER</th>
                                    <td><input id="ymaker_date" class="form-control" type="text"></td>
                                    <td>
                                        <select class="form-control">
                                            <option value="0" selected>-</option>
                                            <option value="1">Occasione 1</option>
                                            <option value="2">Occasione 1</option>
                                            <option value="3">Occasione 1</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option value="-" selected>-</option>
                                            <option value="c">Contanti</option>
                                            <option value="b">Bonifico</option>
                                            <option value="p">Paypal</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>MAKER</th>
                                    <td><input id="maker_date" class="form-control" type="text"></td>
                                    <td>
                                        <select class="form-control">
                                            <option value="0" selected>-</option>
                                            <option value="1">Occasione 1</option>
                                            <option value="2">Occasione 1</option>
                                            <option value="3">Occasione 1</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option value="-" selected>-</option>
                                            <option value="c">Contanti</option>
                                            <option value="b">Bonifico</option>
                                            <option value="p">Paypal</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
{% endblock%}
