{% extends "base.html" %}
{% load static %}
{% block title %} <title>FabLab | Eventi </title>{% endblock %}
{% block pagename %} <img class="logo" src="{% static 'gestionaleapp/logo_fablab.png' %}"> {% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function(){
        var inputs = ["id_name", "id_date", "id_cost", "id_description", "id_participants"];

            $("#id_date").datepicker({
                dateFormat: "dd-mm-yy"
            });

        $("button[name = 'reset-button']").click(function(event) {
                $("input[name = 'modify_id']").val('no');
                var form = $("#client-form")[0];
                // clear the form fields
                var inputs = form.getElementsByClassName('form-control');
                for (var i=0; i < inputs.length; i++) {
                    inputs[i].setAttribute("value", "");
                }

                // remove all errors in the page
                $('.errorlist').each( function (i, element) {
                    $(element).slideUp();
                })

                $('.emptylist').each( function (i, element) {
                    $(element).slideUp();
                })
            });

            $("button[name = 'save-new-button']").click(function(event) {
                ret = true;
                $(inputs).each( function(index, element) {
                    ret = ret & checkInput("#" + element)
                });

                if (ret) {
                    $("input[name = 'modify_id']").val('no');
                    $("#events-form")[0].submit();
                } else {
                }
            });
    });

    function checkInput(input) {
        if ($(input).val() === "") {
            $(input + "_empty").slideDown(200);
            return false;
        } else {
            $(input + "_empty").slideUp(200);
            return true;
        }
    }

    </script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="cl-div-tb">
            <table class="table-bordered table-striped cl-tb">
                <tr>
                    <th>Nome</th>
                    <th>Descrizione</th>
                    <th>Data</th>
                    <th>Costo</th>
                    <th>Operazioni</th>
                </tr>
            {% for event in events %}
                <tr class="tr-selectable">
                    <td class="{{event.id}}">{{event.name}}</td>
                    <td class="{{event.id}}">{{event.description}}</td>
                    <td class="{{event.id}}">{{event.date}}</td>
                    <td class="{{event.id}}">{{event.cost}}</td>
                    <td class="{{event.id}}">{{event.name}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <div class="row">
        <form id='events-form'>
            <table class="col-sm-8">
                {{ form.as_table }}
            </table>
            <div class="actions-div col-sm-4">
                <button type="button" class="btn btn-success btn-block" name="save-new-button">Salva nuovo</button>
                <button type="reset" class="btn btn-danger btn-block" name="reset-button">Reset campi</button>
            </div>
        </form>

    </div>
{% endblock%}
