{% extends "base.html" %}
{% load static %}
{% block title %} <title>FabLab | Lavorazioni </title>{% endblock %}
{% block pagename %} <img class="logo" src="{% static 'gestionaleapp/logo_fablab.png' %}"> {% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            var inputs = ["id_type", "id_data", "id_cost", "id_description", "id_person"];

            $("#id_data").datepicker({
                dateFormat: "dd-mm-yy"
            });

            $(inputs).each( function(index, element) {
                $("#" + element).parent().prepend("<div id='" + element + "_empty' class='emptylist'>Questo campo è obbligatorio</div>");

                if (element !== "id_data") {
                    $("#" + element).blur ( function () {
                        checkInput("#"+element);
                    })
                }
            });

            $('.errorlist').each( function (index, element) {
                $(element).replaceWith("<div class='errorlist'>" + $(element).children().text() + "</div>");
            });


            $("button[name = 'reset-button']").click(function(event) {
                $("input[name = 'modify_id']").val('no');
                var form = $("#processings-form")[0];
                // clear the form fields
                var inputs = form.getElementsByClassName('form-control');
                for (var i=0; i < inputs.length; i++) {
                    inputs[i].setAttribute("value", "");
                }

                // remove all errors in the page
                $('.errorlist').each( function (i, element) {
                    $(element).slideUp();
                })

                $('.emptylist').each( function (i, element) {
                    $(element).slideUp();
                })
            });

            $("button[name = 'save-new-button']").click(function(event) {
                ret = true;
                $(inputs).each( function(index, element) {
                    ret = ret & checkInput("#" + element)
                });

                if (ret) {
                    // $("input[name = 'modify_id']").val('no');
                    $("#processings-form")[0].submit();
                } else {
                }
            });
        });

        function checkInput(input) {
            if ($(input).val() === "") {
                $(input+"_empty").slideDown(200);
                return false;
            } else {
                $(input+"_empty").slideUp(200);
                return true;
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <form id='processings-form' method="post">
            {% csrf_token %}
            <table class="col-sm-8">
                {{ form.as_table }}
            </table>
            <div class="actions-div col-sm-4">
                <button type="button" class="btn btn-success btn-block" name="save-new-button">Salva nuovo</button>
                <button type="reset" class="btn btn-danger btn-block" name="reset-button">Reset campi</button>
            </div>
        </form>
    </div>

    <hr>

    <div class="row">
        <table class="table-bordered table-striped processings-table">
            <tr>
                <th>Data</th>
                <th>Associato</th>
                <th>Tipo</th>
                <th>Costo</th>
                <th>Descrizione</th>
            </tr>
        {% for process in processings %}
            <tr class="tr-selectable">
                <td class="{{process.id}}">{{process.data}}</td>
                <td class="{{process.id}}">{{process.person}}</td>
                <td class="{{process.id}}">{{process.type}}</td>
                <td class="{{process.id}}">{{process.cost}}</td>
                <td class="{{process.id}}">{{process.description}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock%}
