<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        {% block title %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- style -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
        <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

        <script>
            // highlights the active page on the navbar
            var url;
            $(document).ready(function(){
                url = (window.location.href).split("/");
                var currentPage = url[3];
                try {
                    document.getElementById("" + currentPage + "").className = "active";
                } catch(error){}

                $.datepicker.setDefaults({
                    dateFormat: "dd/mm/yy",
                    changeYear: true,
                    yearRange: "2014:2028"
                });

                $(".tr-selectable").on ({
                    mouseover: function(event) {
                        var row_id = event.target.className;
                        $("#" + row_id).css("text-decoration", "underline");
                    },
                    mouseleave: function(event) {
                        var row_id = event.target.className;
                        $("#" + row_id).css("text-decoration", "none");
                    }
                });

                // cambia colore alla riga selezionata in base all'id
                selected_row = url[url.length - 2];

                if (selected_row && selected_row !== "") {

                    try {
                        switch (currentPage) {
                            case "anagrafica":
                                $('#customer-'+selected_row).css("background-color", "#ffeba3");
                                break;
                            case "eventi":
                                $('#event-'+selected_row).css("background-color", "#ffeba3");
                                break;
                            case "lavorazioni":
                                $('#processing-'+selected_row).css("background-color", "#ffeba3");
                                break;
                            default:
                                break;
                        }

                    } catch(error) {}
                }

            });
        </script>
        {% block scripts %} {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.veronafablab.it/">
                        <img class="logo" src="{% static 'gestionale_/logo_fablab.png' %}">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li id="anagrafica"><a href="{% url 'gestionale_:create_customer' %}">Anagrafica</a></li>
                        <li id="eventi"><a href="{% url 'gestionale_:create_event' %}">Eventi</a></li>
                        <li id="lavorazioni"><a href="{% url 'gestionale_:create_processing' %}">Lavorazioni</a></li>
                        <li id="statistiche"><a href="{% url 'gestionale_:stats' %}">Statistiche</a></li>
                    </ul>
                    {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li id="logout"><a href="{% url 'logout' %}?next={{request.path}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
        <footer>
            Gestionale FabLab
            Credits: Tonin Davide, Forigo Ettore, Novelli Matteo, Conti Enrico
        </footer>
    </body>
</html>