{% extends "base.html" %}
{% load static %}
{% block title %} <title>FabLab | Anagrafica</title> {% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
    <script>
        var selected_customer;
        $(document).ready(function () {
            // cambia colore alla riga selezionata in base all'id dell'utente
            //url = (window.location.href).split("/");
            selected_customer = url[url.length - 2];

            if (selected_customer && selected_customer !== "") {
                try {

                    $('#customer-'+selected_customer).css("background-color", "#ffeba3");
                } catch(error) {}
            }

            $("#id_born").datepicker({
                dateFormat: "dd/mm/yy"
            });
            $("#id_first_association").datepicker({
                dateFormat: "dd/mm/yy"
            });

            $(".tr-selectable").on ({
                mouseover: function(event) {
                    var customer_id = event.target.className;
                    $("#" + customer_id).css("text-decoration", "underline");
                },
                mouseleave: function(event) {
                    var customer_id = event.target.className;
                    $("#" + customer_id).css("text-decoration", "none");
                }
            });

        });
    </script>

    <div class="row scrollable-table">
        <table id="client-table" class="table-striped table-bordered info-table">
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Tessera</th>
                <th>Mail</th>
                <th>Cellulare</th>
                <th>Quota attuale</th>
            </tr>
            {% for customer in customers %}
                <tr class="tr-selectable" id="customer-{{ customer.0.id }}" onclick="document.location.href = '{% url 'gestionale_:update_customer' customer_id=customer.0.id%}'">
                    <td class="customer-{{ customer.0.id }}">{{ customer.0.surname }}</td>
                    <td class="customer-{{ customer.0.id }}">{{ customer.0.name }}</td>
                    <td class="customer-{{ customer.0.id }}">{{ customer.0.card }}</td>
                    <td class="customer-{{ customer.0.id }}">{{ customer.0.email }}</td>
                    <td class="customer-{{ customer.0.id }}">{{ customer.0.telephone }}</td>
                    <td class="customer-{{ customer.0.id }}">
                    {% if customer.1.type == 0 %}
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    {% elif customer.1.type == 1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row">
        <form method="post" id="client-form">
            {% csrf_token %}
            <table class="col-sm-6">
                {{ form.as_table }}
            </table>
            <div class="actions-div col-sm-4">
                <button type="submit" class="btn btn-success">{{ op }}</button>
                <button class="btn btn-danger" type="reset" onclick="window.location.href='{% url 'gestionale_:create_customer' %}'">Reset</button>
            </div>
        </form>
    </div>

    {% if show_tables %}

    {% include 'gestionale_/subscription_table.html' with id=id subscriptions=subscriptions only %}

    <hr>
    
    <div class="row scrollable-table">
        <h2>EVENTI</h2>
        <table id="events-table" class="table-bordered table-striped info-table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th>Tipo</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.data }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.type }}</td>
                    <td>{{ event.cost }}&nbsp;&euro;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>

    <div class="row scrollable-table">
        <h2>LAVORAZIONI</h2>
        <table id="processings-table" class="table-bordered table-striped info-table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th>Tipo</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
            {% for process in processings %}
                <tr>
                    <td>{{ process.data }}</td>
                    <td>{{ process.description }}</td>
                    <td>{{ process.type }}</td>
                    <td>{{ process.cost }}&nbsp;&euro;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}

{% endblock %}
