{% extends "gestionale_/base.html" %}
{% block title %} <title>FabLab | Eventi</title> {% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('#id_participants').select2();

            $("#id_date").datepicker({});
        })
    </script>

    {% include 'gestionale_/events_table.html' with events=events show_extended_table=True only %}

    <div class="row">
        <form method="post" id="events-form">
            {% csrf_token %}
            <style>
                th > label {
                    margin-right: 15px;
                }
            </style>
            <table class="col-sm-6" style="margin-bottom: 10px;">
                <!--<div class="col-sm-7">
                    <div class="col-sm-8">
                        {{ form.participants.label_tag }}
                        {{ form.participants.errors }}
                        {{ form.participants }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.name.label_tag }}
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.date.label_tag }}
                        {{ form.date.errors }}
                        {{ form.date }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.duration.label_tag }}
                        {{ form.duration.errors }}
                        {{ form.duration }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.price.label_tag }}
                        {{ form.price.errors }}
                        {{ form.price }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.description.label_tag }}
                        {{ form.description.errors }}
                        {{ form.description }}
                    </div>
                </div>
                -->
                {{ form.as_table }}
        </table>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success col-sm-3"
                        style="margin-left: 10px; margin-right: 10px">{{ op }}</button>
                <button class="btn btn-danger col-sm-3" type="reset"
				 		onclick="window.location.href='{% url 'gestionale_:create_event' %}'">Reset
                </button>
				<button class="btn btn-primary col-sm-3" type="button"
						style="margin-left: 10px;" onclick="window.location.href='{% url 'gestionale_:events_table_csv' %}'">Scarica CSV
				</button>
            </div>
        </form>
    </div>

{% endblock %}
