{% extends "base.html" %}
{% block title %} <title>FabLab | Lavorazioni</title> {% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
    <script>
        $(document).ready( function () {
            $("#id_data").datepicker({
                dateFormat: "dd/mm/yy"
            });
        });
    </script>

    {% include 'gestionale_/processings_table.html' with processings=processings only %}

    <div class="row">
        <form method="post" id="processings-form">
            {% csrf_token %}
            <table class="col-sm-6" style="margin-bottom: 10px">
                {{ form.as_table }}
            </table>
            <div class="actions-div col-sm-4">
                <button type="submit" class="btn btn-success action-button" style="margin-top: 3px">{{ op }}</button>
                <button class="btn btn-danger action-button" type="reset" onclick="window.location.href='{% url 'gestionale_:create_processing' %}'">Reset</button>
            </div>
        </form>
    </div>

{% endblock %}
