<div class="row scrollable-table">
    <table id="processings-table" class="table-bordered table-striped info-table">
        <thead>
            <tr>
                <th>Data</th>
                {% if show_extended_table %}
                <th>Cliente</th>
                {% endif %}
                <th>Tipo</th>
                <th>Costo</th>
                <th>Descrizione</th>
            </tr>
        </thead>
        <tbody>
        {% for processing in processings %}
            <tr class="tr-selectable" id="processing-{{ processing.id }}" onclick="window.location.href = '{% url 'gestionale_:update_processing' processing_id=processing.id %}'">
                <td class="processing-{{ processing.id }}">{{ processing.data }}</td>
                {% if show_extended_table %}
                <td class="processing-{{ processing.id }}">{{ processing.customer }}</td>
                {% endif %}
                <td class="processing-{{ processing.id }}">
                    {% if processing.type == 0 %}
                    Laser
                    {% elif processing.type == 1 %}
                    Stampa3D
                    {% elif processing.type == 2 %}
                    Fresa
                    {% endif %}
                </td>
                <td class="processing-{{ processing.id }}">{{ processing.price }}&nbsp;&euro;</td>
                <td class="processing-{{ processing.id }}">{{ processing.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>