{% extends "gestionale_/base.html" %}
{% load static %}
{% block title %} <title>FabLab | Statistiche</title> {% endblock %}
{% block scripts %}
    <script src="{% static 'associated_per_year_chart.js' %}"></script>
    <script src="{% static 'association_per_month_chart.js' %}"></script>
    <script src="{% static 'renewals_per_year_chart.js' %}"></script>
    <script src="{% static 'earnings_chart.js' %}"></script>
    <script src="{% static 'earnings_per_year_chart.js' %}"></script>
{% endblock %}
{% block content %}
    <script>
        var colors = ["rgba(244, 173, 66, 0.8)", "rgba(84, 172, 255, 0.8)", "rgba(239, 67, 67, 0.7)", "rgb(67, 224, 239)", "rgb(255, 240, 79)"];
        var border_colors = ["rgba(255, 127, 0, 1)", "rgba(0, 131, 255, 1)", "rgba(239, 67, 67, 1)", "rgb(67, 190, 239)", "rgb(255, 208, 79)"];

        $(document).ready(function () {
            years = ["2014", "2015", "2016", "2017/2018", "2018/2019", "2019/2020", "2020/2021", "2021/2022", "2022/2023", "2023/2024", "2024/2025",
                "2025/2026", "2026/2027", "2027/2028", "2028/2029"];

            // ASSOCIATI PER ANNO
            $.get("{% url 'gestionale_:associations_per_year' %}", function (data, status) {
                if (data.categories !== undefined && data.series !== undefined) {
                    draw_associated_yearly_chart(data);
                }
            });

            // RICAVI PER ANNO
            $.get("{% url 'gestionale_:earnings_per_year' %}", function (data, status) {
                if (data.categories !== undefined && data.series !== undefined) {
                    draw_earnings_chart(data);
                }
            });

            // RINNOVI PER ANNO
            $.get("{% url 'gestionale_:renewals_per_year' %}", function (data, status) {
                if (data.categories !== undefined && data.series !== undefined) {
                    draw_renewals_per_year_chart(data);
                }
            });

            // ASSOCIATI PER MESE
            try {
                $(years).each(function (index, year) {
                    $('#year-select').append("<option value=\"" + year + "\">" + year + "</option>");
                });
                drawAssociatedPerMonth();
            } catch (error) {
            }

            // RICAVI PER ANNO 1° SELECT
            try {
                $(years).each(function (index, year) {
                    $('#year-select-1').append("<option value=\"" + year + "\">" + year + "</option>");
                });
                drawEarningsPerYear("1");
            } catch (error) {
            }

            // RICAVI PER ANNO 2° SELECT
            try {
                $(years).each(function (index, year) {
                    $('#year-select-2').append("<option value=\"" + year + "\">" + year + "</option>");
                });
                drawEarningsPerYear("2");
            } catch (error) {
            }


            $('#year-select').change(function () {
                updateAssociatedPerMonth();
            });

            $('#year-select-1').change(function () {
                select = $('#year-select-1');
                updateEarningsPerYear(select, "1");
            });

            $('#year-select-2').change(function () {
                select = $('#year-select-2');
                updateEarningsPerYear(select, "2");

            });
        });

        function drawAssociatedPerMonth() {
            if ($('#year-select').val() !== "") {
                $.get("{% url 'gestionale_:associations_per_month' %}", {years: $('#year-select').val()}, function (data, status) {
                    if (data.categories !== undefined && data.series !== undefined) {
                        $("#associated_per_month_title").empty();
                        $("#associated_per_month_title").prepend("Associati per mese (" + $('#year-select').val() + ")");
                        draw_association_per_month_chart(data);
                    }
                });
            }
        }

        function drawEarningsPerYear(input) {
            select = $('#year-select-' + input);

            if (select.val() !== undefined && select.val() !== "") {
                $.get("{% url 'gestionale_:earnings_per_year' %}", {years: select.val()}, function (data, status) {
                    if (data.datasets !== undefined && data.labels !== undefined) {
                        draw_earnings_per_year_chart(data, "earnings-yearly-" + input);
                    }
                });
            }
        }

        function updateAssociatedPerMonth(data) {
            if ($('#year-select').val() !== "") {
                $.get("{% url 'gestionale_:associations_per_month' %}", {years: $('#year-select').val()}, function (data, status) {
                    if (data.categories !== undefined && data.series !== undefined) {
                        $("#associated_per_month_title").empty();
                        $("#associated_per_month_title").prepend("Associati per mese (" + $('#year-select').val() + ")");
                        window.associated_per_month_chart.data.datasets[0].data = data.series[0].data;
                        window.associated_per_month_chart.data.datasets[1].data = data.series[1].data;
                        window.associated_per_month_chart.data.labels = mapMonths(data.categories);
                        window.associated_per_month_chart.update();
                    }
                });
            }
        }

        function updateEarningsPerYear(select, id) {
            if (select.val() !== undefined && select.val() !== "") {
                $.get("{% url 'gestionale_:earnings_per_year' %}", {years: select.val()}, function (data, status) {
                    if (data.datasets !== undefined && data.labels !== undefined) {
                        window.earnings_per_year_chart[id - 1].data.datasets[0].data[0] = data.datasets[0].data[0];
                        window.earnings_per_year_chart[id - 1].data.datasets[0].data[1] = data.datasets[0].data[1];
                        window.earnings_per_year_chart[id - 1].data.datasets[0].data[2] = data.datasets[0].data[2];
                        window.earnings_per_year_chart[id - 1].update();
                    }
                });
            }
        }
    </script>

    <br><br>

    <div class="row">
        <h2 style="text-align: center;">Associati per anno</h2><br>
        <canvas id="associated_yearly" style="width:100%; height:50vh"></canvas>
    </div>

    <hr>

    <div class="row">
        <h2 id="associated_per_month_title" style="text-align: center;">Associati per mese ()</h2><br>

        <div class="col-sm-6" style="margin-bottom: 30px">
            <label for="year-select">Anno: </label>
            <select class="form-control" id="year-select" name="year" required>
            </select>
        </div>

        <canvas id="associated_per_month" style="width:100%; height:50vh;"></canvas>
    </div>

    <hr>

    <div class="row">
        <h2 style="text-align: center;">RINNOVI PER ANNO</h2><br>
        <canvas id="renewals" style="width:100%; height:50vh;"></canvas>
    </div>

    <hr>

    <div class="row">
        <h2 style="text-align: center;">RICAVI</h2><br>
        <canvas id="earnings" style="width:100%; height:50vh;"></canvas>
    </div>

    <hr>

    <div class="row">
        <h2 style="text-align: center;">RICAVI PER ANNO</h2><br>
        <div class="col-sm-6">
            <div class="col-sm-12" style="margin-bottom: 30px; text-align: center">
                <label for="year-select-1">Anno: </label>
                <select class="form-control" id="year-select-1" name="year" required>
                </select>
            </div>
            <canvas id="earnings-yearly-1" style="width:100%; height:50vh;"></canvas>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12" style="margin-bottom: 30px; text-align: center">
                <label for="year-select-2">Anno: </label>
                <select class="form-control" id="year-select-2" name="year" required>
                </select>
            </div>
            <canvas id="earnings-yearly-2" style="width:100%; height:50vh;"></canvas>
        </div>
    </div>
	<br />

{% endblock %}
