<div class="row scrollable-table">
    <table id="subscriptions-table" class="table-bordered table-striped info-table">
        <tr>
            <th>2014</th>
            <th>2015</th>
            <th>2016</th>
            <th>2017</th>
            <th>2018</th>
        </tr>
        <tr>
            <td>
                {% if subscriptions.2014 %}
                    {% if subscriptions.2014.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2014.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2014.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2014 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2015 %}
                    {% if subscriptions.2015.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2015.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2015.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2015 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2016 %}
                    {% if subscriptions.2016.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2016.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2016.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2016 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2017 %}
                    {% if subscriptions.2017.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2017.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2017.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2017 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2018 %}
                    {% if subscriptions.2018.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2018.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2018.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2018 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
        </tr>
        <tr>
            <th>2019</th>
            <th>2020</th>
            <th>2021</th>
            <th>2022</th>
            <th>2023</th>
        </tr>
        <tr>
            <td>
                {% if subscriptions.2019 %}
                    {% if subscriptions.2019.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2019.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2019.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2019 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2020 %}
                    {% if subscriptions.2020.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2020.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2020.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2020 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2021 %}
                    {% if subscriptions.2021.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2021.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2021.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2021 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2022 %}
                    {% if subscriptions.2022.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2022.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2022.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2022 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2023 %}
                    {% if subscriptions.2023.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2023.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2023.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2023 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
        </tr>
        <tr>
            <th>2024</th>
            <th>2025</th>
            <th>2026</th>
            <th>2027</th>
            <th>2028</th>
        </tr>
        <tr>
            <td>
                {% if subscriptions.2024 %}
                    {% if subscriptions.2024.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2024.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2024.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2024 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2025 %}
                    {% if subscriptions.2025.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2025.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2025.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2025 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2026 %}
                    {% if subscriptions.2026.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2026.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2026.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2026 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2027 %}
                    {% if subscriptions.2027.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2027.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2027.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2027 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
            <td>
                {% if subscriptions.2028 %}
                    {% if subscriptions.2028.type == 0 %}
                        <a href="{% url 'gestionale_:update_subscription' customer_id=id subscription_id=subscriptions.2028.id %}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                    {% elif subscriptions.2028.type ==  1 %}
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    {% endif %}

                {% else %}
                    <a href="{% url 'gestionale_:create_subscription' customer_id=id year=2028 %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>

                {% endif %}
            </td>
        </tr>

    </table>
</div>
