{% extends "gestionale_/base.html" %}
{% block title %} <title>FabLab | Anagrafica</title> {% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}

    <script>
        $(document).ready(function () {
            $("#id_date").datepicker({});

            changeYear("#id_date");

            $('#id_date').change( function () {
                changeYear(this);
            })
        });

        function changeYear(input) {
            year = $(input).datepicker('getDate').getFullYear();

            $('#renew-form-title').empty();
            $('#renew-form-title').append('Iscrizione anno ' + year + ', <a href="{% url 'gestionale_:update_customer' customer_id=id %}">{{ customer_name }}</a>')
        }

    </script>

    <br>
    {% include 'gestionale_/subscriptions_table.html' with id=id subscriptions=subscriptions only %}

    <br>

    <div class="row">
        <form id="renew-form" method="post" class="col-sm-6">
            {% csrf_token %}
            <h4 id="renew-form-title"></h4>
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <button type="submit" class="btn btn-success action-button">{{ op }}</button>
            <button class="btn btn-danger action-button" type="reset" onclick=window.location.reload()>Reset</button>
        </form>
    </div>
{% endblock %}