.navbar-brand>img {
    height: 50px;
}

.nav>li {
    height: 75px;
}

.nav>li>a {
    padding: 50px;
}

.navbar-nav>li>a {
    line-height: 45px !important;
    vertical-align: middle;
}

/* Pagina anagrafica */
table {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
}

table tr {
    height: 40px;
    vertical-align: middle;
}

.users-table th {
	text-align: center;
}

input {
	width: 40%;
}