.navbar-brand>img {
    height: 50px;
}

.nav>li {
    height: 75px;
}

.nav>li>a {
    padding: 50px;
}

.navbar-nav>li>a {
    line-height: 45px !important;
    vertical-align: middle;
}

/* Pagina anagrafica */
.insert-table {
    margin-left: 30px;
    width: 75%;
}

.insert-table tr {
    height: 40px;
    vertical-align: middle;
}

input {
	width: 40%;
}